.title{
    font-weight: bold;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.slds-modal__header{
    background-color: cornflowerblue;
}
.h2{
    font-size: medium;
    color:black;  
}
.p{
    font-size: medium;
    font-weight:lighter;
    color:black;   
}
.label{
<<<<<<< HEAD
    -webkit-text-fill-color:darkcyan;
=======
    -webkit-text-fill-color:#A3BCB6;
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    font-weight:bold;
}
.employee{
<<<<<<< HEAD
    background: #f4f7f8;
=======
    background: #DADED4;
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
}
.label-input{
    -webkit-text-fill-color:darkcyan;
    font-family:Arial, Helvetica, sans-serif;
<<<<<<< HEAD
=======
	margin-left: 10px;
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
    font-size:medium;
    font-weight:bold;
}

.input{
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
<<<<<<< HEAD
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color:#e8eeef;
	color:black;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
=======
	margin-left: 10px;
	margin-right:10px;
	outline: 0;
	padding: 10px;
	width: 90%;
	background-color:#DAD3D4;
	color:black;
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.input:hover{
<<<<<<< HEAD
    background:rgb(158, 196, 238);
=======
    background:#3C403D;
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
}
.h1{
font-size:medium;
font-weight:bold;
font-style:italic;
color:black;
text-align:center;
text-decoration:underline;

}
<<<<<<< HEAD
=======
.custombox{
	padding: 1rem;
    border: 1px solid #d8dde6;
}
.box{
	border-radius: 4px;
	box-shadow: 0 1px 0 black outset;
}
.button{
	padding-left: 10px;
	color:#39603D;
	background-color: white;
	border: 2px solid #4CAF50; /* Green */
}
body{
	background-color: #A3BCB6;;
}
>>>>>>> d7835155fb8d70c1f9956a0bb6aaf10e0af277ca
